* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-up {
    display: flex;
    align-items: center;
    height: 55px;
    width: 100%;
}

.header-up-left {
    display: flex;
    margin-left: 10px;
}

.header-up-left ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: 100px;
}

.header-up-left ul li a {
    text-decoration: none;
    color: rgb(91, 90, 90);
    font-size: 15px;
    font-family: ALSSchlangesans, sans-serif;
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-up-left .buton1 li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: ALSSchlangesans, sans-serif;
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #d43157;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border1 {
    width: 1px;
    height: 25px;
    background-color: gray;
    margin-top: 10px;
}

.header-up-right {
    display: flex;
    gap: 10px;
    margin-left: 350px;
}

.header-up-right .support {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #d43157;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-up-right .support i {
    color: #d43157;
}

.header-up-right .empty {
    height: 20px;
    width: 1px;
    margin-top: 10px;
    background-color: rgb(203, 203, 203);
}

.header-up-right .icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    width: 70px;
    height: 40px;
    border: 1px solid #d43157;
    border-radius: 20px;
    cursor: pointer;
}

.header-up-right .icon .icon-1 {
    color: #d43157;
    font-size: 25px;
    position: relative;
}

.header-up-right .icon .icon-2 {
    color: grey;
}


.header-up-right .select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border: 1px solid #d43157;
    border-radius: 20px;
    -webkit-appearance: none;
    color: #d43157;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.header-up-right .select span {
    display: inline-block;
    font-size: 15px;
}

.header-down {
    display: flex;
    justify-content: space-around;
    background-color: #d43157;
    position: fixed;
    height: 80px;
    width: 100%;
}

.header-down-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.header-down-left .logo img {
    width: 60px;
    height: 55px;
    margin-left: 5px;
}

.header-down-left .content ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header-down-left .content ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}


.header-down-left .content i {
    font-size: 10px;
    color: white;
}

.header-down-left .content li:hover a i {
    rotate: 180deg;
}


.header-down-right .menu-bar {
    display: flex;
    margin-top: 10px;
    margin-right: 45px;
    gap: 10px;
}

.header-down-right .menu-bar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;
    font-family: ALSSchlangesans, sans-serif;
    color: #d43157;
    background-color: white;
}

.header-down-right .menu-bar .menu .more {

    font-size: 13px;
    margin-left: 5px;
}

.header-down-right .menu-bar .menu .more ul li {
    list-style: none;
}

.header-down-right .menu-bar .menu .more ul li a {
    text-decoration: none;
    color: #d43157;
}

.header-down-right .login {
    margin-top: 10px;
}

.header-down-right .login button {
    color: #e00034;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 50px;
    font-size: 17px;
}

.header-navbar .navbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: -200px;

}

.header-navbar .bckr img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.header-navbar .reklam img {
    width: 500px;
    height: 400px;
    margin-top: -200px;

}

.header-navbar .navbar .text {
    margin-top: -120px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.header-navbar .navbar .text p {
    margin-top: 30px;
    font-size: 17px;

}

.header-navbar .navbar .text button {
    color: #e00034;
    width: 170px;
    height: 50px;
    border: none;
    background-color: white;
    border-radius: 50px;
    font-size: 17px;
    margin-top: 50px;
}

#main-area .cart-area .cart {
    width: 350px;
    height: 450px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid black;
}

#main-area .cart-area .cart .bckr-1 img {
    width: 100%;
    height: 150px;
}

#main-area .cart-area .cart .mini-img {
    position: absolute;
}

#main-area .cart-area .cart .mini-img img {
    width: 210px;
    height: 140px;
    margin-left: 140px;
    margin-top: 10px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}