/* * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
} */

.header-up {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.header-up-left {
    display: flex;
    margin-left: -50px;
}

.col-6{
    width: 50%;
}

.header-up-left ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-left: 100px;
}

.header-up-left ul li a {
    text-decoration: none;
    color: rgb(91, 90, 90);
    font-size: 15px;
    font-family: ALSSchlangesans, sans-serif;
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-up-left .buton1 li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: ALSSchlangesans, sans-serif;
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #d43157;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border1 {
    width: 1px;
    height: 25px;
    background-color: gray;
    margin-top: 10px;
}

.header-up-right {
    display: flex;
    gap: 20px;
    margin-left: 350px;
   

}

.header-up-right .support {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #d43157;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-up-right .support i {
    color: #d43157;
}

.header-up-right .empty {
    height: 20px;
    width: 1px;
    margin-top: 10px;
    background-color: rgb(203, 203, 203);
}

.header-up-right .icon {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22px;
    width: 70px;
    height: 40px;
    border: 1px solid #d43157;
    border-radius: 20px;
    cursor: pointer;

}

.header-up-right .icon .icon-1 {
    color: #d43157;
    font-size: 25px;
    position: relative;
}

.header-up-right .icon .icon-2 {
    color: grey;
}

.header-up-right select {
    width: 70px;
    height: 40px;
    border: 1px solid #d43157;
    border-radius: 20px;
    -webkit-appearance: none;
    color: #d43157;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    position: relative;
}

.header-up-right .select i {
    position: absolute;
    color: #d43157;
    cursor: pointer;
    margin-top: 20px;
    font-size: 12px;
}

.header-down {
    display: flex;
    justify-content: space-around;
    background-color: #d43157;
    height: 80px;
    width: 100%;
}

.header-down-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header-down-left .logo {
    margin-top: -20px;
}

.header-down-left .logo img {
    width: 60px;
    height: 60px;
}

.header-down-left .content ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header-down-left .content ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.header-down-left .content ul li a:hover {
    background-color: #d43157;
}

.header-down-left .content i {
    font-size: 10px;
    color: white;
}

.header-down-left .content li:hover a i {
    rotate: 180deg;
}

.header-up-right option {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-down-right{
    margin-top: 40px;
}

.header-down-right .menu-bar {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-down-right .menu-bar .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 20px;
    font-family: ALSSchlangesans, sans-serif;
    color: #d43157;
    background-color: white;
}

.header-down-right .menu-bar .menu .more {
    margin-left: -20px;
    font-size: 13px;
}

.header-down-right .menu-bar .menu .more ul li {
    list-style: none;
    margin-top: 15px;
}

.header-down-right .menu-bar .menu .more ul li a {
    text-decoration: none;
    color: #d43157;
}

.header-down-right .login {
    margin-top: 10px;
}

.header-down-right .login button {
    color: #e00034;
    width: 40px;
    height: 40px;
    border: none;
    background-color: white;
    border-radius: 50px;
    font-size: 17px;
}

.header-navbar .text {
    position: absolute
}

.header-navbar .bckr img {
    width: 100%;
    object-fit: cover;
}